.account {
  min-height: calc(100vh - 245px);
  margin: 60px 175px;
  color: var(--txt);
  .accountlist {
    width: 100%;
    padding: 30px;
    background-color: var(--ternary-bg-color);
    box-shadow: var(--boxShadow);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    h3 {
      margin-bottom: 30px;
    }
    select {
      margin-top: 20px;
      background-color: var(--input-bg-color);
      color: #acc6de;
      border: 2px solid transparent;
      padding: 10px;
      font-size: 16px;
      &:focus {
        background-color: var(--primary-bg-color);
        border: 2px solid var(--highlight);
      }
    }
  }
  .profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .avatar {
      background-color: var(--ternary-bg-color);
      box-shadow: var(--boxShadow);
      padding: 30px;
      width: 37%;
      max-width: 425px;
      margin-right: 10px;
      margin-bottom: 20px;
      h3 {
        margin-bottom: 30px;
      }
      .imgContainer {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 2px solid transparent;
        color: var(--txt);
        img {
          width: 345px;
          cursor: pointer;
        }
        div {
          width: 40px;
          height: 40px;
          background-color: rgba(57, 78, 100, 0.7);
          color: var(--txt);
          display: none;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;
          border-radius: 50%;
          font-size: 18px;
          cursor: pointer;
        }
        &:hover {
          div {
            display: flex;
          }
        }
      }
      button {
        margin-top: 20px;
        background-color: var(--btn);
        color: var(--txt);
        border: 2px solid var(--btn);
        width: 100%;
        transition: all 0.25s;
        label {
          transition: all 0.25s;
          cursor: pointer;
          text-transform: uppercase;
          padding: 15px;
          font-size: 14px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 15px;
        }
        input {
          display: none;
        }
        &:hover {
          background-color: var(--ternary-bg-color);
          color: var(--btn);
        }
      }
      .fileerrorRed {
        margin-top: 10px;
        flex-wrap: wrap;
        color: red;
      }
      .fileerrorGreen {
        margin-top: 10px;
        flex-wrap: wrap;
        color: rgb(0, 255, 0);
      }
    }
    .accSetting {
      background-color: var(--ternary-bg-color);
      box-shadow: var(--boxShadow);
      padding: 30px;
      width: 63%;
      max-width: 822px;
      margin-left: 10px;
      h3 {
        margin-bottom: 30px;
      }
      .accSubSetting {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        div {
          display: flex;
          flex-direction: column;
          width: 100%;
          flex: 0 0 50%;
          label {
            margin-bottom: 12px;
          }
          .redborder {
            border: 2px solid transparent;
          }
          .greenborder {
            border: 2px solid rgb(0, 255, 0);
          }
          input {
            margin-bottom: 18px;
            background-color: var(--input-bg-color);
            border: 2px solid transparent;
            outline: none;
            padding: 15px;
            color: var(--txt);
            font-size: 16px;
            font-weight: 500;
            width: 100%;
            &:focus {
              background-color: var(--primary-bg-color);
              border: 2px solid var(--highlight);
            }
          }
          button {
            margin-top: 35px;
            background-color: var(--btn);
            color: var(--txt);
            border: 2px solid var(--btn);
            width: 100%;
            padding: 15px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.25s;
            &:hover {
              background-color: var(--ternary-bg-color);
              color: var(--btn);
            }
          }
          &:first-child {
            padding-right: 10px;
          }
          &:last-child {
            padding-left: 10px;
          }
        }
      }
      button {
        background-color: var(--btn);
        color: var(--txt);
        border: 2px solid var(--btn);
        width: 100%;
        padding: 15px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.25s;
        &:hover {
          background-color: var(--ternary-bg-color);
          color: var(--btn);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .account {
    margin: 60px 20px;
    .profile {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .accSetting,
      .avatar {
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .account {
    .profile {
      .avatar {
        .imgContainer {
          img {
            width: 100%;
          }
        }
      }
      .accSetting {
        .accSubSetting {
          grid-template-columns: repeat(1, minmax(0, 1fr));
          div {
            &:last-child,
            &:first-child {
              padding-left: 0px;
              padding-right: 0px;
            }
            button {
              margin-top: 5px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
