.product {
  min-height: calc(100vh - 245px);
  color: var(--txt);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin: 60px 160px;
  padding: 0px 15px;
  .products {
    background-color: var(--ternary-bg-color);
    box-shadow: var(--boxShadow);
    width: 66.6%;
    flex: 0 0 66.6%;
    padding: 40px;
    margin-right: 15px;
    .tableContainer {
      max-height: 450px;
      overflow: auto;
      margin-bottom: 15px;
      table {
        border-collapse: collapse;
        text-align: center;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        tbody {
          tr {
            background-color: #50697f;
            border-bottom: 1px solid #486177;
            &:first-child {
              background-color: #486177;
            }
            th,
            td {
              padding: 15px;
              input[type="checkbox"] {
                // accent-color: #394e64;
                -webkit-appearance: none;
                appearance: none;
                width: 24px;
                height: 24px;
                background-color: #394e64;
                cursor: pointer;
                background-position: center;
                border-radius: 50%;
                position: relative;
              }
              input[type="checkbox"]:checked {
                background: url("https://templatemo.com/templates/templatemo_524_product_admin/img/check-mark.png")
                  #394e64 center no-repeat;
              }
            }
          }
          .productList {
            transition: all 0.25s;
            td {
              &:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .check {
                width: 25px;
                height: 25px;
                background-color: #394e64;
                display: block;
                border-radius: 50%;
                overflow: hidden;
                .hideInput {
                  display: none;
                }
              }
              .deleteBtn {
                background-color: #394e64;
                color: white;
                border: none;
                outline: none;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                cursor: pointer;
                font-size: 17px;
                &:hover {
                  color: #8bb2ce;
                }
              }
            }
            &:hover {
              background-color: #486177;
              color: #8bb2ce;
            }
          }
        }
      }
    }
    .adding {
      background-color: var(--btn);
      color: var(--txt);
      text-transform: uppercase;
      width: 100%;
      padding: 15px;
      border: 2px solid var(--btn);
      outline: none;
      font-weight: 600;
      margin-bottom: 15px;
      cursor: pointer;
      transition: all 0.25s;
      &:hover {
        background-color: var(--ternary-bg-color);
        color: var(--btn);
      }
    }
  }
  .category {
    background-color: var(--ternary-bg-color);
    box-shadow: var(--boxShadow);
    width: 33.3%;
    flex: 0 0 33.3%;
    padding: 40px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    h3 {
      margin-bottom: 20px;
    }
    ul {
      margin-bottom: 15px;
      max-height: 400px;
      overflow: auto;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #50697f;
        border-bottom: 1px solid #486177;
        padding: 15px;
        .deleteBtn {
          background-color: #394e64;
          color: white;
          border: none;
          outline: none;
          height: 35px;
          width: 35px;
          border-radius: 50%;
          cursor: pointer;
          font-size: 17px;
          &:hover {
            color: #8bb2ce;
          }
        }
      }
    }
    .addNewCat {
      display: flex;
      flex-direction: column;
      input {
        margin: 15px auto;
        background-color: var(--input-bg-color);
        border: 2px solid transparent;
        outline: none;
        padding: 15px;
        color: var(--txt);
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        &:focus {
          background-color: var(--primary-bg-color);
          border: 2px solid var(--highlight);
        }
      }
    }
    .adding {
      background-color: var(--btn);
      color: var(--txt);
      text-transform: uppercase;
      width: 100%;
      padding: 15px;
      border: 2px solid var(--btn);
      outline: none;
      font-weight: 600;
      margin-bottom: 15px;
      cursor: pointer;
      transition: all 0.25s;
      &:hover {
        background-color: var(--ternary-bg-color);
        color: var(--btn);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .product {
    margin: 60px 20px;
    flex-direction: column;
    align-items: center;
    .category,
    .products {
      width: 100%;
      flex: 0 0 100%;
      margin-right: 0px;
      margin-left: 0px;
      padding: 30px;
    }
    .products {
      margin-bottom: 15px;
    }
    .category {
      margin-top: 15px;
    }
  }
}
